@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100vh;
  }

  header {
    background-color: #333; /* Darker background color */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
  }
  
  .navbar-brand {
    font-size: 24px;
    color: #fff; /* White text color */
    font-family: "Montserrat", sans-serif;
  }
  
  .list {
    display: flex;
    list-style: none;
    gap: 40px;
  }
  
  .link {
    position: relative;
    text-decoration: none;
    color: #fff; /* White text color */
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
  
  .link::before,
  .link::after {
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00fffc;
    transform: scaleX(0);
    transition: transform 0.25s;
  }
  
  .link::before {
    top: -.5px;
    transform-origin: left;
  }
  
  .link::after {
    bottom: -.5px;
    transform-origin: right;
  }
  
  .link:hover::before,
  .link:hover::after,
  .active::before,
  .active::after {
    transform: scaleX(1);
  }
  

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.199);
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 100px;
}


 
.home .home-content {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden; /* لمنع أي تداخل مع النص */
}

.home .home-content video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* لضمان استغلال الفيديو للمساحة بشكل كامل */
  z-index: -1; /* ضمان أن الفيديو يكون خلف النص */
}

.home .home-content h1 {
  letter-spacing: 5px;
  margin-top: 180px;
  font-size: 65px;
  color: transparent;
  font-weight: bolder;
  -webkit-text-stroke: .5px #fff;
  background-image: linear-gradient(#000000, #000000);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  animation: animateText 6s linear infinite;
  text-align: center;
  z-index: 1; /* تأكد من أن النص يكون أمام الفيديو */
  font-family: "Cairo", sans-serif;
  
}

@keyframes animateText {
  0%, 95%, 100% {
    background-position: -800px 0;
  }
  65%, 85% {
    background-position: 0 0;
  }
}

@keyframes animateText
{
  0%,95%,100%
  {
      background-position: -1500px 0;
  }
  65% , 85%
  {
      background-position: 0 0;
  }
}
.home .home-content .buttons {
  text-align: center;
  margin-top: 40px; /* زيادة المسافة بين النص والأزرار */
}

.custom-btn {
  display: inline-block;
  padding: 15px 30px; /* زيادة البعد الداخلي للأزرار */
  border-radius: 8px;
  text-decoration: none;
  font-size: 20px; /* زيادة حجم النص */
  cursor: pointer;
  margin: 10px; /* تعديل المسافة بين الأزرار */
}

.custom-btn.primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.custom-btn.secondary {
  background-color: #6c757d;
  color: #fff;
  border: none;
}

.custom-btn:hover {
  opacity: 0.8;
}

.about
{
  font-family: "Cairo", sans-serif;

}

.about p {
  position: relative;
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  background: linear-gradient(90deg, 
  #000, #fff, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color:
   rgba(255, 255, 255, 0);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: anime 2s infinite 
  linear;
}
@keyframes anime {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}






h2 {
    font-weight: 900;
}

.container-fluid {
    max-width: 1200px;
}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}

.card h5 {
    overflow: hidden;
    height: 56px;
    font-weight: 900;
    font-size: 1rem;
}

.card-img-top {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    padding: 30px;
}
.card-img-top:hover{
  transform: scale(1.4)rotate(12deg);
  transition: 1s;
}

.card h2 {
    font-size: 1rem;
}

.card:hover {
 
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.label-top {
    position: absolute;
    background-color: #8bc34a;
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #ff5722;
    line-height: 90px;
    text-align: center;
    color: white;
}

.top-right span {
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .card-img-top {
        max-height: 250px;
    }
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}

.box .btn {
    font-size: 1.5rem;
}

@media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px;
    }
}

@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px;
    }
}

.btn-warning {
    background: none #f7810a;
    color: #ffffff;
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
    border-radius: 100px;
}

.btn-warning:hover {
    background: none #ff962b;
    color: #ffffff;
    box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35);
}

.bg-success {
    font-size: 1rem;
    background-color: #f7810a !important;
}

.bg-danger {
    font-size: 1rem;
}

.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}

.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray;
}

.fa-question-circle:before {
    color: darkgray;
}

.fa-plus:before {
    color: darkgray;
}

.box {
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.box-img {
    max-width: 300px;
}

.thumb-sec {
    max-width: 300px;
}

@media (max-width: 576px) {
    .box-img {
        max-width: 200px;
    }
    
    .thumb-sec {
        max-width: 200px;
    }
}

.inner-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 1px;
    display: inline-block;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 370px) {
    .box .btn {
        padding: 5px 40px 5px 40px;
        font-size: 1rem;
    }
}

.disclaimer {
    font-size: .9rem;
    color: darkgray;
}

.related h3 {
    font-weight: 900;
}

footer {
    background: #212529;
    height: 80px;
    color: #fff;
}

main{
  font-family: "Cairo", sans-serif;
}

main p {
  position: relative;
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  background: linear-gradient(90deg, 
  #000, #fff, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color:
   rgba(255, 255, 255, 0);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: anime 3s infinite 
  linear;
}

.fact{
  font-family: "Cairo", sans-serif;
  background-color: #dad9d9;

}

.fact h6
{
  position: relative;
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 4px;
  background: linear-gradient(90deg, 
  #000, #fff, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color:
   rgba(255, 255, 255, 0);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: anime 3s infinite 
  linear;

}
.btnn {
  display: grid;
  place-content: center;

width: 120px;
height: 35px;

  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
 }
 .btnn-container {
  display: flex;
  justify-content: center; /* يضع العناصر في الوسط أفقياً */
  align-items: center; /* يضع العناصر في الوسط عمودياً */
}
 .btnn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
 }
 
 .btnn:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
 }
 
 .btnn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
 }
 
 .btnn:active {
  transform: scale(0.9);
 }

 .btn-check {
  display: inline-block;
  margin-right: 20px; /* تعديل الهامش بحسب الحاجة */
}
.serv{
  font-family: "Cairo", sans-serif;

}

/* تحديد البطاقات */
/* تحديد البطاقات */
/* تحديد البطاقات وتطبيق التحول */
 .serv .card {
  transition: filter 1s ease; /* إضافة تأثير التحول */
  border-radius: 10px; /* تدوير حواف الكارد */
}

/* تطبيق التأثير على البطاقات غير المحورة عند عدم تحويل المؤشر عليها */
 .serv .card:not(:hover) .card-body {
  filter: blur(2px); /* تطبيق التأثير على البطاقات غير المحورة */
  opacity: 0.7; /* خفض الشفافية */
  transform: scale(0.95); /* تقليل حجم الكارد */
  transition: 1s;
}

.cardddd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  padding: 20px 20px 20px;
  background: #1e1e1e;
  font-size: 20px;
  color: #fff;
  margin-top: 200px;
  font-family: "Montserrat", sans-serif;


}
.cardddd ul li img {
  width: 16px;
  filter: invert(1); /* تغيير لون الصورة إلى الأبيض */
  margin-bottom: 20px;
}

.text2
{
  position: relative;
  top: 80px;
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  background: linear-gradient(90deg, 
  #4087ed, #fff, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color:
   rgba(255, 255, 255, 0);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: anime 3s infinite 
  linear;
  text-align: center;
  
  background-color: #007bff;
}

.primary {
  order: -1;
}

.primary .card var {
  font-size: 60px;
}

.text2 {
  position: relative;
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  background: linear-gradient(90deg, #4087ed, #fff, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: anime 3s infinite linear;
  margin-top: 0px;
  text-align: center;
  background-color: #007bff;
}

.grid {
  display: grid;
  place-items: center;
  margin-top: 110px;
  gap: 20px;
  width: 100%;
  background-color: #007bff;
  padding: 40px
}

.grid > div {
  width: 100%;
}

@media (min-width: 768px) {
  .grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid > div {
    height: 100%;
  }
  .primary {
    order: -1;
    grid-column: 1 / 3;
  }
  .primary .cardddd {
    max-width: 45vw;
    margin: 0 auto;
  }
}

@media (min-width: 980px) {
  .grid {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid > div {
    height: auto;
  }
  .primary {
    order: 0;
    grid-column: auto;
  }
  .background {
    top: -100px;
  }
}

p,
h2 {
  margin: 0;
}

.cardddd var {
  color: #4087ed;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  margin-bottom: 10px;
}

.cardddd var small {
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 6px 0;
}

ul li img {
  width: 16px;
}

.cardddd button {
  display: grid;
  place-items: center;
  min-width: 200px;
  padding: 14px 0;
  border-radius: 6px;
  border: 2px solid #4087ed;
  background: transparent;
  color: #4087ed;
  font-size: inherit;
  font-family: inherit;
}

.cardddd button.btn-primary {
  background: #4087ed;
  color: #f7f7f7;
}

.cardddd button:hover {
  background-color: transparent;
  transition: 0.5s;
}





.fixed-form {
  display: flex;
  flex-direction: column;
  justify-content: center; /* يوسط العناصر عموديًا */
  align-items: center; /* يضع العناصر في الجانب الأيسر من العنصر */
  padding: 40px;
  background-color: #efefef;
  font-family: "Montserrat", sans-serif;
}

.fixed-form h1 {
  position: relative;
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 4px;
  background: linear-gradient(90deg, 
  #000, #fff, #1d53dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color:
   rgba(255, 255, 255, 0);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: anime 3s infinite 
  linear;
  top: 50px;/* تضع هامش للعنوان للتحكم بالمسافة بينه وبين النموذج */
  text-align: center; /* يضع النص في الوسط على الشمال */
}



.form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  background-color: #fff;

  border-radius: 10px;
  position: relative;
  border: 1px solid black;
  padding: 20px;
 
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: rgb(0, 0, 0);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
h1 {
  margin-bottom: 20px; /* تضع هامش للعنوان للتحكم بالمسافة بينه وبين النموذج */
}

.new_footer_area {
  background: #fbfbfd;
}


.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #007bff;
}
.btn_get:hover {
  color: #fff;
  background: #007bff;
  border-color: #007bff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #007bff;
}

.new_footer_top .f_social_icon a:hover {
  background: #007bff;
  border-color: #007bff;
color:white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
background-size:100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
background-size:100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}
.ba{
  margin-top: 100px;
  background: #fbfbfd;
  font-family: "Cairo",sans-serif;
  margin-top: 150px;
}
/*************footer End*****************/
